header, main, footer {
    width: 500px;
    text-align: center;
    background-color: aqua;
    border: 3px solid blue;
}

main {
    padding: 10px;
}
img {
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

